<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <script src="https://kit.fontawesome.com/69e44b2a4c.js" crossorigin="anonymous"></script>
  <link href="/..//static/css/style.css" rel="stylesheet" type="text/css" />
  <title>School Chat Theme Maker</title>
</head>
<body>
  <div class="nav">
    <button onclick="ToPage('/projects')" class="nav_btn"><i class="fa-solid fa-folder-tree fa-2xl" style="color: #000000;"></i></button>

    <button onclick="OpenExternalPage('https://github.com/01000011-00110111/School-Chat')" class="nav_btn"><i class="fa-brands fa-github fa-2xl" style="color: #000000;"></i></button>

    <button onclick="OpenExternalPage('https://www6.school-chat.us/')" class="nav_btn"><img id="imgIcon" src="https://www6.school-chat.us/static/AppIcon.png" style="width: 30px;"></button>
  </div>

  <div class="main">
    <div class="panel" style="background: linear-gradient(144deg, rgb(2, 55, 164) 23%, rgb(212, 13, 189) 70%, rgb(251, 73, 5) 100%);">

    </div>

    <div class="panel" style="background: linear-gradient(144deg, rgba(131,1,1,1) 23%, rgba(197,50,50,1) 35%, rgba(222,210,0,1) 47%, rgba(126,192,173,1) 80%);"></div>
  </div>
  <script src="/..//static/js/web.js"></script>
</body>
</html>